ΆΣΚΗΣΗ 4
Θα δημιουργήσετε ένα "project". Θα εκμεταλεύεται το api του Unsplash 
(https://unsplash.com/developers) στο οποίο θα αποκτήσετε πρόσβαση κάνοντας εγγραφή. 
Στη συνέχεια θα χρησιμοποιήσετε το documentation(https://unsplash.com/documentation) 
που σας παρέχει για πραγματοποιήσετε επιτυχείς κλήσεις.
Μπορείτε να χρησιμοποιήσετε οποιοδήποτε css framework επιθυμείτε[bootstrap, bulma, ...].
Ο σκοπός είναι να υπάρχει δυνατότητα αναζήτησης και προβολής των δεδομένων.
Bonus:
Να υπάρχει η δυνατότητα να προσθέτουμε στα "αγαπημένα" κάποια αποτελέσματα, με τον σκοπό 
αν ξαναέρθουν να μας δείξει ότι είναι στα αγαπημένα μας. Hint: localStorage,array of ids
Bonus 2:
Pagination με εύρος τις 2 σελίδες (στο παράδειγμα που κάναμε μαζί είχαμε εύρος τις 4 πριν 
και τις 4 μετά), τώρα θέλουμε τις 2 πριν και 2 μετά.